.effect-item {
    background: #3e4550;
    width: 190px;
    border-radius: 3px;
    padding: 4px;
    outline: aliceblue 1px solid;
    height: 40px;
    margin-bottom: 4px;
    display: flex;
    justify-content: center;
    cursor: pointer;
}
.effect-item-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    color:white;
    font-weight: bolder;
}
